<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />
    
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>

<body>

    <section id=g-navigation class=g-default-navigation>
        <div class=g-grid>
            <div class="g-block size-100">
                <div id=logo-8099-particle class="g-content g-particle">
                    <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                </div>
            </div>
        </div>
    </section>

	<div layout:fragment="AllContent"></div>

	<footer id="g-footer">
    <div class="g-container">
        <div class="g-grid">
            <div class="g-block size-100 align-left">
                <div id="branding-9192-particle" class="g-content g-particle">
                    <div class="g-branding ">
                        <div class="brackbranding">
                            <h4><a href="/quiz" style="color:#f8f8f8;">Teszt kitöltése! Deploy teszt 4</a></h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</footer>

</body>

</html>