<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>SAP modulok</title>

    <link rel=stylesheet href="/css/main.css" />
</head>

<body class="gantry site com_content view-article no-layout no-task dir-ltr itemid-1631 outline-9 g-offcanvas-left g-default g-style-preset4">
    <div id=g-page-surround>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">

                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>

                                        <div class=page-header>
                                            <h1> Hogyan válasszuk ki a megfelelő SAP modult karrierünkhöz? </h1>
                                        </div>

                                        <div>

                                            <p> "XYZ-diplomát végeztem és ABC-tapasztalattal rendelkezem. Tudnál nekem ajánlani egy SAP-modult?"

                                                <p> Az SAP modul kiválasztásakor három tényezőt kell figyelembe vennie:
                                                    <ol>
                                                        <li> Munkalehetőségek a választott modullal.</li>
                                                        <li> Eddigi munkatapasztalat.</li>
                                                        <li> Karrier / életcélok.</li>
                                                    </ol>
                                                    <p> Nézzük meg őket egyenként.
                                                        <h1> Munkalehetőségek</h1>
                                                        <p> <strong>AZ SAP-nek rengeteg modulja van.</strong>
                                                            <p> <strong>De egy cégnél nem feltétlenül lehet az összes modult használni. Nézzük meg mely modulokat használják a legtöbb helyen.</strong>
                                                                <p> Szűkítsük le a listát
                                                                    <ol>
                                                                        <li> SAP FI</li>
                                                                        <li> SAP MM</li>
                                                                        <li> SAP SD</li>
                                                                        <li> SAP PP</li>
                                                                        <li> SAP HCM</li>
                                                                        <li> SAP Basis/ ABAP - műszaki beállítottságú embereknek</li>
                                                                    </ol>

                                                                    <p>
                                                                        <h1> Műszaki háttér és munkatapasztalat</h1>
                                                                        <p> Miután szűkítettük a listát, figyelembe kell venni, hogy mit tanultunk eddig és hogy milyen munkatapasztalatunk van.
                                                                            <p> Pédául, ha HR képzésen vettünk részt nincs értelme az SAP FI-t választani, sokkal megfelelőbb választás az SAP HCM. Az tanulmányaink előnyt jelenthetnek a HCM modulnál az FI-vel szemben.
                                                                                <h1> Karrier / életcélok.</h1>
                                                                                <p> Ez gyakran a leginkább figyelmen kívül hagyott, bár a legfontosabb tényező.
                                                                                    <p> Meg kell kérdeznünk magunktól, hogy valóban ezt szeretnénk csinálni vagy ez csak egy munka?

                                                                                        <p> Sok szerencsét :)

                                        </div>
                                        <ul class="pager pagenav">
                                            <li class=previous>
                                                <a class=hasTooltip title="SAP Modulok" aria-label="Previous article: SAP Modulok" href=/sapmodulok rel=prev> <span aria-hidden=true>Előző</span> </a>
                                            </li>
                                            <a href="/" style="padding:0px;background:#FFF;color:#04b8e6;font-size:15px;">
												<strong>Kezdőlap</strong>
											</a>	
   											<li class=next>
                                                <a class=hasTooltip title="SAPTanacsado" aria-label="Next article: SAPTanacsado" href=/saptanacsado rel=next> <span aria-hidden=true>Következő</span> <span aria-hidden=true></span> </a>
                                            </li>    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    
    <footer>
    	<center><h3><a href="/quiz"> Teszt kitöltése! </a></h3></center>
    </footer>
    
</body>

</html>