<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>SAP bevezetés</title>

    <link rel=stylesheet href="/css/main.css" />
</head>

<body>

    <div id=g-page-surround>
        <div class="g-offcanvas-hide g-offcanvas-toggle" data-offcanvas-toggle aria-controls=g-offcanvas aria-expanded=false><i class="fa fa-fw fa-bars"></i></div>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="http://instruktor.hu/" title=SAP aria-label=SAP rel=home class=g-logo><font color=#235AD7 size ="16"><b> SAP</b></font><font color=#235AD7 size ="6">school</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">

                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>

                                        <div class=page-header>
                                            <h1> Mi az SAP? </h1>
                                        </div>

                                        <div>

                                            <p>SAP: <strong>S</strong>ystems <strong>A</strong>pplications and <strong>P</strong>roducts in Data Processing. (Rendszerek, alkalmazások és termékek az adatfeldolgozásban.)
                                                <p><strong>Az SAP, egyben az ERP (Enterprise Resource Planning) szoftver és a vállalat neve is.</strong>
                                                    <p>Az SAP AG 1972-ben alakult Weinheimben.
                                                        <p>Az SAP rendszer egy sor teljesen integrált modulból áll, amelyek az üzleti menedzsment szinte minden aspektusát lefedik.
                                                            <p>Az SAP AG jelenleg a világ negyedik legnagyobb szoftvercége, amelynek leányvállalata az SAP Hungary Kft több mint 1000 főt foglalkoztat. Szerte a világban 1500 partnercég értékesít SAP-licenceket, végzi a rendszerek bevezetését és látja el azok támogatását. Összességében 12 millió felhasználó alkalmaz SAP-rendszert, amely az ügyviteli megoldások területén kimagasló szám.
                                                                <p>SAP riválisai: Oracle, Salesforce, Workday stb.
                                                                    <h2>Mi az SAP ERP? Miért van rá szükség?</h2>
                                                                    <p>A következő videó elmagyarázza az ERP szoftverek szükségességét, egy vállalkozás működésében:
                                                                        <p align=center>
                                                                            <iframe width=560 height=315 src=https://www.youtube.com/embed/lYCEQqSM08I frameborder=0 allow="accelerometer;autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                            <p>
                                                                                <div class=moduletable>
                                                                                    <p align=center>Klikk <a href="https://www.youtube.com/embed/lYCEQqSM08I">ide</a> ha a videó nem elérhető.
                                                                                        <br/>
                                                                                        <br/> </p>
                                                                                </div>
                                                                                <p>A kezdők számára az alapvető kérdés az, hogy miért van szükség az ERP-nek nevezett vállalati erőforrás-tervezésre? Erre a válaszra vizsgáljuk meg ezt a tipikus üzleti forgatókönyvet.
                                                                                    <p style="text-align: center;">

                                                                                        <p>Tegyük fel, hogy egy ügyfél egy értékesítési csapathoz fordul és egy terméket kér. Az értékesítési csapat felveszi a kapcsolatot a készletgazdálkodással, hogy ellenőrizze a termék elérhetőségét, azonban kiderül, hogy a termék nincs raktáron.
                                                                                            <p>Mielőtt részletesen megnéznénk, hogy mi az ERP, és hogyan segíthet az ERP az üzleti folyamatokban, meg kell értenünk, hogy a különböző területek hogyan vesznek részt az egész üzleti folyamatban, kezdve a nyersanyag megrendelésétől az áruk gyártásáig, a végső kézbesítésig.
                                                                                                <p style="text-align: center;">

                                                                                                    <p><strong>Üzleti folyamatra egy példa:</strong>
                                                                                                        <ol>
                                                                                                            <li>Az ügyfél felveszi a kapcsolatot az értékesítési csapattal, hogy ellenőrizze a termék elérhetőségét.</li>
                                                                                                            <li>Az értékesítési csapat felkeresi a készletgazdálkodást, hogy ellenőrizze a termék elérhetőségét.</li>
                                                                                                            <li>Ha a termék nincs raktáron, akkor az értékesítési csapat a termelési osztályhoz fordul, hogy készítsék el a terméket.</li>
                                                                                                            <li>A termelési csoport a készletgazdálkodási osztállyal ellenőrízteti a nyersanyag rendelkezésre állását.</li>
                                                                                                            <li>Ha az alapanyag nem áll rendelkezésre a raktárban, akkor a termelési csoport megvásárolja a nyersanyagot a szállítóktól.</li>
                                                                                                            <li>Ha rendelkezésre áll az alapanyag elindul a gyártás.</li>
                                                                                                            <li>Ha kész a termék tájékoztatják az értékesítési osztályt.</li>
                                                                                                            <li>Értékesítési csapat ezt továbbítja az ügyfélnek.</li>
                                                                                                            <li>Lekönyvelik a termék gyártásához tartozó kiadásokat és a termék eladásából származó bevételeket.</li>
                                                                                                            <li>Közben minden csapat megkereste a HR osztályt, ha human resource próblémája volt.</li>
                                                                                                        </ol>
                                                                                                        <p>Ez egy tipikus folyamat. Néhány következtetés ezzel kapcsolatban:
                                                                                                            <ul>
                                                                                                                <li>Számos részlege vagy üzleti egysége van egy vállalatnak</li>
                                                                                                                <li>Ezek az osztályok vagy üzleti egységek folyamatosan kommunikálnak egymással, és adatcserét folytatnak</li>
                                                                                                                <li>Bármely szervezet sikere a hatékony kommunikációban és az adatcserében rejlik ezeken a részlegeken, valamint a kapcsolódó harmadik felek, például gyártók és ügyfelek között.</li>
                                                                                                            </ul>
                                                                                                            <p>A kommunikáció és az adatcsere kezelésének módja alapján a vállalati rendszerek osztályozhatók
                                                                                                                <p><strong>1)<a href=#1>  Decentralizált rendszer </a></strong>
                                                                                                                    <p><strong>2)<a href=#2> Centralizált rendszer, amelyet ERP-nek is hívnak.</a></strong>
                                                                                                                        <h2><a id=1></a>Decentralizált rendszer</h2>
                                                                                                                        <p>Nézzük először a decentralizált rendszert. Itt két fő probléma van:
                                                                                                                            <ul style="margin-left: 50px;">
                                                                                                                                <li><strong>Az adatokat az egyes osztályokon helyileg tárolják</strong></li>
                                                                                                                                <li><strong>Az osztályok nem férnek hozzá más osztályok adataihoz</strong></li>
                                                                                                                            </ul>
                                                                                                                            <p>Vizsgáljuk meg a következő esetet, amikor az ügyfél az értékesítési csapathoz fordul és sürgősen szüksége van egy termékre.
                                                                                                                                <p style="text-align: center;">

                                                                                                                                    <p>Mivel ez egy decentralizált folyamat, az értékesítési csoportnak nincs valós idejű információja a készletről. Ezért felkeresik a készletgazdálkodást, hogy ellenőrizzék a termék elérhetőségét. Ez a folyamat időbe telik, és ha az ügyfélnek sürgősen szüksége van a termékre, akkor egy másik szállítót választ, ami bevételkiesést és vevői elégedetlenséget okoz.
                                                                                                                                        <p style="text-align: center;">

                                                                                                                                            <p>Tegyük fel, hogy a termék nincs raktáron, és az értékesítési csapat felkéri a termelést tervező csapatot, hogy készítse el a terméket későbbi értékesítésre. A termelést tervező csoport ellenőrzi a szükséges alapanyagok rendelkezésre állását.
                                                                                                                                                <p>A decentralizált rendszerben az alapanyagokkal kapcsolatos információkat külön tárolja a termelést tervező csapat, valamint a készletgazdálkodás. Így az adatkezelési költségek (ebben az esetben a nyersanyag) növekednek.
                                                                                                                                                    <p style="text-align: center;">
                                                                                                                                                        <p>Amint rendelkezésre áll az alapanyag, rájönnek arra, hogy nincs elég munkavállaló a gyártásban, ezért felkeresik a HR osztályt, akik kölcsönzött munkaerőt alkalmaznak magas munkaerőköltséggel.
                                                                                                                                                            <p style="text-align: center;">
                                                                                                                                                                <p>Ez csak néhány a decentralizált rendszerekkel kapcsolatos sok probléma közül.
                                                                                                                                                                    <p>A decentralizált rendszerrel kapcsolatos néhány fő probléma a következő:
                                                                                                                                                                        <ul>
                                                                                                                                                                            <li>Számos eltérő információs rendszer alakult ki idővel, amelyeket nehéz karbantartani.</li>
                                                                                                                                                                            <li>Az adatok integrálása idő- és pénzigényes.</li>
                                                                                                                                                                            <li>Nem mindig vannak szinkronban az adatok különböző osztályok között.</li>
                                                                                                                                                                            <li>A valós idejű információk hiánya vevői elégedetlenséghez, a bevétel és a hírnév elvesztéséhez vezet.</li>
                                                                                                                                                                            <li>Magas készlet, anyagi és emberi erőforrás költségek.</li>
                                                                                                                                                                        </ul>
                                                                                                                                                                        <p>Ezek jelentős hátrányok, amelyekre meoldást kell találni. Nos, a megoldás a centralizált rendszerekben, azaz az ERP-ben rejlik.
                                                                                                                                                                            <h2><a id=2></a>Centralizált rendszer</h2>
                                                                                                                                                                            <p>Egy vállalkozás, központi információs és adatkezelő rendszerrel.
                                                                                                                                                                                <p><strong>1) Az adatokat központi helyen tárolják, és megosztják azokat különféle osztályokkal</strong>
                                                                                                                                                                                    <p><strong>2) Az osztályok hozzáférhetnek más osztályok adataihoz</strong>
                                                                                                                                                                                        <p>Nézzük meg újra ugyanazt az üzleti folyamatot, hogy megértsük, hogyan segít a centralizált vállalati rendszer legyőzni a decentralizált vállalati rendszer által okozott problémákat.
                                                                                                                                                                                            <p style="text-align: center;">

                                                                                                                                                                                                <p>Ebben az esetben minden osztály frissíti a központi információs rendszert.
                                                                                                                                                                                                    <ul>
                                                                                                                                                                                                        <li>Amikor az ügyfél az értékesítési csapathoz fordul, hogy sürgősen vásároljon egy terméket, akkor az értékesítési csapat valós idejű adattal rendelkezik a készletben található termékekről, amelyet a központi készletgazdálkodási osztálya frissít.</li>
                                                                                                                                                                                                        <li>Az értékesítési csapat időben válaszol az ügyfelek kérdéseire, ami növeli az ügyfelek elégedetségét.</li>
                                                                                                                                                                                                        <li>Abban az esetben, ha gyártásra van szükség, az értékesítési csapat frissíti a központi adatbázist, hogy minden osztály tájékozódjon a termék állapotáról.</li>
                                                                                                                                                                                                        <li>A termelési osztály automatikusan megkapja az igényeket. A termelési csoport ellenőrzi a szükséges alapanyagok elérhetőségét a központi adatbázison keresztül, amelyet a készletgazdálkodási osztály frissít.</li>
                                                                                                                                                                                                        <li>Így elkerülhetők az aszinkron adatok és így pontos és valós információk állnak rendelkezésre.</li>
                                                                                                                                                                                                        <li>Munkaerőhiány esetén a HR-csapat jelentős felkészülési idővel indítja a felvételi folyamatot, hogy megfelelő jelöltet vegyen fel piaci áron. Így csökken a munkaerőköltség.</li>
                                                                                                                                                                                                        <li>A szállítók közvetlenül benyújthatják számláikat a központi vállalati rendszerhez, amelyhez a pénzügyi részleg is hozzáférhet. Így a kifizetéseket időben hajtják végre, és elkerülhetők a lehetséges jogi lépések.</li>
                                                                                                                                                                                                        <li>Az SAP szoftver egy centralizált rendszer típus. Az SAP rendszerek a legnépszerűbbek az ERP szoftverek között.</li>
                                                                                                                                                                                                    </ul>
                                                                                                                                                                                                    <h3>A centralizált rendszer fő előnyei a következők:</h3>
                                                                                                                                                                                                    <ul>
                                                                                                                                                                                                        <li>Ez kiküszöböli az adatok duplikációját, redundanciáját.</li>
                                                                                                                                                                                                        <li>Információt szolgáltat az osztályok között valós időben.</li>
                                                                                                                                                                                                        <li>Az SAP rendszer ellenőrzést biztosít a különböző üzleti folyamatok felett.</li>
                                                                                                                                                                                                        <li>Növeli a termelékenységet, javítja a készletgazdálkodást, elősegíti a minőséget, csökkenti az anyagköltségeket, hatékonyan kezeli az emberi erőforrásokat, csökkenti az általános költségeket, növeli a profitot.</li>
                                                                                                                                                                                                        <li>Jobb ügyfél-interakció és megnövelt teljesítmény. Javítja az ügyfélszolgálatot is.</li>
                                                                                                                                                                                                        <li>Az SAP szoftver egy központosított vállalatirányítási rendszer.</li>
                                                                                                                                                                                                        <li>Az SAP rövidítés jelentése: <strong>S</strong>ystems <strong>A</strong>pplications and <strong>P</strong>roducts in Data Processing.</li>
                                                                                                                                                                                                    </ul>
                                        </div>
                                        <ul class="pager pagenav">
                                            <li class=previous>
                                                <a class="hasTooltip" title="Kezdőlap" aria-label="Previous article: What is SAP? Definition of SAP ERP Software" href="/" rel="prev" data-original-title="What is SAP? Definition of SAP ERP Software"> <span aria-hidden="true"></span> <span aria-hidden="true">Kezdőlap</span> </a>
                                            </li>
                                            <li class=next>
                                                <a class=hasTooltip title="SAP Business Suite" aria-label="Next article: SAP Business Suite" href=/sapbusinessuite rel=next> <span aria-hidden=true>Következő</span> <span aria-hidden=true></span> </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
</body>

</html>