<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>SAP kezdőknek</title>
    
    <link rel=stylesheet href="/css/main.css" />
</head>

<body>

    <section id=g-navigation class=g-default-navigation>
        <div class=g-grid>
            <div class="g-block size-100">
                <div id=logo-8099-particle class="g-content g-particle">
                    <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                </div>
            </div>
        </div>
    </section>

    <section id=g-container-main class=g-wrapper>
        <div class=g-grid>
            <div class="g-block size-100">
                <div class=g-grid>
                    <div class="g-block size-100">
                        <div class=g-content>

                            <div class=page-header>
                                <h1> SAP utmutató! </h1></div>

                            <h3> Összefoglalás</h3>
                            <hr />Az SAP rendelkezik a legnagyobb részesedéssel az ERP piacon. A következő néhány oldal bemutatja az SAP-t.
                            <h3> Mit kell tudnod? </h3>
                            <hr />Semmit! Ezek az oldalak feltételezik, hogy abszolút kezdő vagy az SAP világában.
                            <br/>
                            <br/>
                            <br/>Témák:
                            <table class=table>

                                <tr>
                                    <td class=responsivetable><span class="fa fa-hand-o-right"></span><a href="/bevezetes" title="Bevezetés az SAP-ba"><strong> Ugorj ide! </strong></a></td>
                                    <td>Bevezetés az SAP-ba</td>
                                </tr>

                                <tr>
                                    <td class=responsivetable><span class="fa fa-hand-o-right"></span><a href="/sapbusinesssuite" title="SAP Business Suite"><strong> Ugorj ide! </strong></a></td>
                                    <td>SAP Business Suite</td>
                                </tr>

                                <tr>
                                    <td class=responsivetable><span class="fa fa-hand-o-right"></span><a href="/sapmodulok" title="SAP modulok"><strong> Ugorj ide! </strong></a></td>
                                    <td>SAP modulok</td>
                                </tr>
                                
                                <tr>
                                    <td class=responsivetable><span class="fa fa-hand-o-right"></span><a href="/bestsapmodul" title="BestSAPModul"><strong> Ugorj ide! </strong></a></td>
                                    <td>Hogyan válasszuk ki a megfelelő SAP modult karrierünkhöz?</td>
                                </tr>
                                
                                <tr>
                                    <td class=responsivetable><span class="fa fa-hand-o-right"></span><a href="/saptanacsado" title="SAPTanacsado"><strong> Ugorj ide! </strong></a></td>
                                    <td>Hogyan válhatunk SAP tanácsadóvá?</td>
                                </tr>
                               
                                <tr>
                                    <td class=responsivetable><span class="fa fa-hand-o-right"></span><a href="/saptanusitvany" title="SAPTanusitvany"><strong> Ugorj ide! </strong></a></td>
                                    <td>SAP tanúsítvány</td>
                                </tr>
                                
                                <tr>
                                    <td class=responsivetable><span class="fa fa-hand-o-right"></span><a href="/saplogon" title="SAPLogon"><strong> Ugorj ide! </strong></a></td>
                                    <td>SAP Logon</td>
                                </tr>
                                
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<footer>
    	<center><h3><a href="/quiz"> Teszt kitöltése! </a></h3></center>
    </footer>

</body>

</html>