<!DOCTYPE html>
<html layout:decorator="layouts/main">

<head>
    <meta charset=utf-8 />
    <title>Kerdesek es valaszok</title>
</head>

<body>

<div layout:fragment="AllContent">

        <section id="g-container-main" class="g-wrapper">
            <div class="g-grid">
                <div class="g-block size-100">
                    <main id="g-mainbar">
                        <div class="g-grid">
                            <div class="g-block size-100">
                                <div class="g-content">
                                    <div class="platform-content row-fluid">
                                        <div class="span12">
                                            <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
                                                <div itemprop="articleBody">
                                                    <p> <strong>1. Mi az ERP?</strong>
                                                    </p>
                                                    <p> Az ERP az Enterprise Resource Planning Software kifejezést jelenti, és egy integrált számítógépes rendszer, amelyet a vállalat erőforrásainak hatékony kezelésére használunk. Biztosítja a zökkenőmentes információ áramlást egy vállalkozás vagy egy vállalat különféle részlegei között, és kezeli a munkafolyamatokat.
                                                    </p>

                                                    <p> <strong>2. Melyek a különféle típusú ERP-k?</strong>
                                                    </p>
                                                    <p> SAP
                                                    </p>
                                                    <p> Baan
                                                    </p>
                                                    <p> JD Edwards
                                                    </p>
                                                    <p> Siebel
                                                    </p>
                                                    <p> Peoplesoft
                                                    </p>
                                                    <p> Microsoft Dynamics
                                                    </p>

                                                    <p> <strong>3. Melyek a különböző SAP termékek?</strong>
                                                    </p>
                                                    <p> <strong>SAP R/3 -</strong> Az SAP R/2 utódja és piacvezető az ERP-ben. Az R/3 háromszintű architektúrát jelent, azaz a bemutatás, a logika és az adat szintjét. Számos olyan modullal rendelkezik, mint SD, FI, HR stb., amelyek szinte minden vállalati osztályt lefednek.
                                                    </p>
                                                    <p> <strong>mySAP -</strong> Ez egy SAP termékcsalád, amely az SAP R/3-n kívül tartalmaz SRM, PLM, CRM, SCM modulokat.
                                                    </p>

                                                    <p> <strong>4. Mi a NetWeaver?</strong>
                                                    </p>
                                                    <p> A Netweaver egy olyan integrált technológiai platform, amely lehetővé teszi a mySAP csomag összes termékének futtatását az SAP Web Application Server (SAP WEBA) néven ismert netweaver egyetlen példányán.
                                                    </p>
                                                    <p> A Netweaver használatának előnye, hogy az SAP-adatokhoz interneten (http protokoll) vagy akár mobilon is hozzáférhetünk.
                                                    </p>

                                                    <p> <strong>5. Soroljon fel náhány SAP modult.</strong>
                                                    </p>
                                                    <p> FI (Financial Accounting)
                                                    </p>
                                                    <p> CO (Controlling)
                                                    </p>
                                                    <p> EC (Enterprise Controlling)
                                                    </p>
                                                    <p> TR (Treasury)
                                                    </p>
                                                    <p> IM (Investment Management)
                                                    </p>
                                                    <p> HR (Human Resource)
                                                    </p>
                                                    <p> SD (Sales and Distribution)
                                                    </p>
                                                    <p> MM (Materials Management)
                                                    </p>
                                                    <p> PM (Plant Maintenance)
                                                    </p>
                                                    <p> PP (Production Planning)
                                                    </p>
                                                    <p> QM (Quality Management)
                                                    </p>
                                                    <p> BW (Business Warehousing)
                                                    </p>

                                                    </p>
                                                    <p> <strong>6. Az SAP egy adatbázis?</strong>
                                                    </p>
                                                    <p> NEM. Az SAP nem adatbázis, hanem egy olyan alkalmazás, amely más gyártók, például Oracle, SQL Server stb. által biztosított adatbázisokat használ fel.
                                                    </p>
                                                    
                                                    </p>
                                                    <p> <strong>7. Mik a változók?</strong>
                                                    </p>
                                                    <p>A változók egy olyan lekérdezés paraméterei, amelyeket a paraméter-lekérdezés meghatározásában állítanak be, és nem kerülnek értékekkel kitöltésre, amíg a lekérdezések bekerülnek a munkafüzetekbe. </p>

                                                    <p> <strong>8. Milyen típusú változók léteznek?</strong>
                                                    </p>
                                                    <ul style="margin-left: 60pt">
                                                        <li>Characteristics variable</li>
                                                        <li>Hierarchies </li>
                                                        <li>Hierarchy nodes</li>
                                                        <li>Text</li>
                                                        <li>Formulas</li>
                                                        <li>Processing Types</li>
                                                        <li>Replacement Path</li>
                                                        <li>User entry/default type</li>
                                                    </ul>

                                                    <p><strong>9. Mondja meg, mi a különbség az SAP BASIS és az SAP ABAP között?</strong>
                                                    </p>
                                                    <p>Az SAP ABAP az SAP-n belül az testreszabáshoz, az űrlapok létrehozásához, a jelentések készítéséhez stb. használt programozási nyelv. Míg az SAP BASIS az SAP adminisztrációs modulja a kódváltozások, frissítések, az adatbázis adminjának, a hálózati beállításoknak stb. vezérlésére szolgál.</p>

                                                    <p><strong>10. Mutassa be az SAP forrásrendszerének különféle típusait?</strong>
                                                    </p>

                                                    <ul style="margin-left: 60pt">
                                                        <li>SAP R/3 source system</li>
                                                        <li>SAP BW</li>
                                                        <li>Flat files</li>
                                                        <li>External Systems</li>
                                                    </ul>

                                                    <p><strong>11. Magyarázza el, mi az Extractor!</strong>
                                                    </p>
                                                    <p>Az SAP forrásrendszerben az extraktorok adat-visszakeresési mechanizmusok. Ez kitölti az adatforrás kivonat szerkezetét az SAP forrásrendszer adatkészleteinek adataival.</p>
													
													<br>	
                                                </div>
                                                <ul class="pager pagenav">
                                                    <li class="previous">
                                                        <a class="hasTooltip" title="SAPMolga" aria-label="Previous article: SAPMolga" href="/sapmolga" rel="prev"> <span aria-hidden="true">Előző</span> </a>
                                                    </li>
                                                    <a href="/" style="padding:0px;background:#FFF;color:#04b8e6;font-size:15px;">
                                                        <strong>Kezdőlap</strong>
                                                    </a>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </section>
    
</div>

</body>

</html>