<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>mySAP</title>

    <link rel=stylesheet href="/css/main.css" />
</head>

<body class="gantry site com_content view-article no-layout no-task dir-ltr itemid-787 outline-9 g-offcanvas-left g-default g-style-preset4">
    <div id=g-page-surround>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>
                                        <div class=page-header>
                                            <h1> Mi az a mySAP? </h1>
                                        </div>
                                        <div>
                                            <p>A mySAP <strong> nem egyetlen termék, hanem az SAP termékcsaládja, beleértve az SAP R / 3-at is.</strong>
                                                <br />
                                                <br /> Az SAP R / 3 elsőként 1998-ban indult, rendszeresen frissül, és a mai napig piacvezető az ERP kategóriában.
                                                <br /> SAP R / 3 sok modult jelent, például HR, pénzügy, MM, amely lefedi az összes vállalati funkciót.
                                                <br /> A "3" háromszintű architektúrát jelent - Presentation tier, Logic tier és Data tier.
                                                <br />
                                                <br /> A mySAP termékcsalád további termékei között szerepel az SRM (Supplier Relationship Management-Beszállítói Kapcsolatok Menedzsment), CRM (Customer Relationship Management-Ügyfélkapcsolat Menedzsment), PLM (Product Lifecycle Management-Termék Életciklus Menedzsment), SCM (Supply Chain Management-Ellátási Lánc Menedzsment).
                                                <br />
                                                <br /> A következő videó végigvezeti Önt az SAP termékcsaládon.
                                                <p align=center>
                                                    <iframe width=420 height=315 src=//www.youtube.com/embed/a0TTh8xVxAU frameborder=0 allowfullscreen></iframe>
                                                    <p>
                                                        <div class=moduletable>
                                                            <p align=center>Kattintson <a href=//www.youtube.com/embed/a0TTh8xVxAU>ide</a> ha a videó nem érhető el.
                                                                <br/>
                                                                <br/> </p>
                                                        </div>
                                        </div>
                                        <ul class="pager pagenav">
                                            <li class=previous>
                                                <a class=hasTooltip title="SAPLogon" aria-label="Previous article: SAPTanúsítvány" href=/saplogon rel=prev> <span aria-hidden=true>Előző</span> </a>
                                            </li>
                                            <a href="/" style="padding:0px;background:#FFF;color:#04b8e6;font-size:15px;">
                                                <strong>Kezdőlap</strong>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer id="g-footer">
        <div class="g-container">
            <div class="g-grid">
                <div class="g-block size-100 align-left">
                    <div id="branding-9192-particle" class="g-content g-particle">
                        <div class="g-branding ">
                            <div class="brackbranding">
                                <h4><a href="/quiz" style="color:#f8f8f8;">Teszt kitöltése!</a></h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>