<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>SAP Business Suite</title>

    <link rel=stylesheet type="text/css" href="/css/main.css" />

</head>

<body>

    <div id=g-page-surround>
        <div class="g-offcanvas-hide g-offcanvas-toggle" data-offcanvas-toggle aria-controls=g-offcanvas aria-expanded=false><i class="fa fa-fw fa-bars"></i></div>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="http://localhost:8080/" title=SAPschool aria-label=SAPschool rel=home class=g-logo><font color=#235AD7 size ="16"><b> SAP</b></font><font color=#235AD7 size ="6">school</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">

                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>
                                        <div class=item-page>

                                            <div class=page-header>
                                                <h1> SAP Business Suite </h1></div>

                                            <h2> Mi az SAP Business Suite? </h2>
                                            <p> Az SAP Business Suite olyan teljesen integrált alkalmazások gyűjteménye, mint az SAP ügyfélkapcsolat-menedzsment (CRM), az SAP vállalati erőforrás-tervezés (ERP), az SAP termék életciklus-menedzsment (PLM), az SAP szállítói kapcsolatkezelés (SRM) és az SAP ellátási lánckezelés (SCM) modulok.
                                                <p> A legtöbb ember az SAP-t az ERP-kínálatához köti. Az SAP azonban sokféle terméket kínál a szervezet változatos igényeinek kielégítésére. Nézzük meg őket!
                                                    <ul>
                                                        <li> <strong>SAP HANA</strong>:-&nbsp;<strong>H</strong>igh&nbsp;<strong>P</strong>erformance&nbsp;<strong>A</strong>nalytic&nbsp;<strong>A</strong>ppliance uses in-memory computing
                                                        <br>A valós idejű, In-Memory adatbázis technológia. A hagyományos adatbázisok esetében nem valósítható meg valós idejű analitika. Az SAP S/4HANA alapját képező SAP HANA viszont másképp működik. Mint a piac jelenlegi egyik legmodernebb in-memory platformja, az SAP S/4HANA biztos alap a valós idejű ERP- és adatalapú meggondolásokhoz. Emellett az adatredundanciák kiiktatásával csökkenti az IT összetettségét is.</li>
                                                        <li> <strong>SAP Convergent Charging</strong>&nbsp;: SAP Convergent Charging (SAP CC) offline és online töltési megoldást kínál a nagy volumenű feldolgozáshoz a szolgáltató iparban. Az SAP CC 5.0 árképzési képességeket, magas teljesítmény besorolást és konvergens egyenlegkezelést biztosít. Valós időben és kötegelt módban is képes működni, magában foglalja a hibrid előre fizetett és utólagos fizetési lehetőségeket, páratlan marketing mozgékonyság a szolgáltatás árazásánál. Szállítói szintű skálázható teljesítmény és a magas rendelkezésre állás.</li>
                                                        <li> &nbsp;<strong>Customer Relationship Management:-&nbsp;</strong> Ügyfélkapcsolat-menedzsment: - Más CRM-szoftverekkel ellentétben az SAP ügyfélkapcsolat-kezelő (SAP CRM) alkalmazás, amely az SAP Business Suite része, nem csak a rövid távú követelmények teljesítésében segít - a költségek csökkentésében és a döntési képesség növelésében - de elősegítheti vállalkozása differenciált képességeinek elérését a hosszú távú hatékony verseny érdekében.</li>
                                                        <li> &nbsp;<strong>Enterprise Resource Planning:-&nbsp;</strong> A globális piacon való versenyhez és győzelemhez szilárd alapokra van szükség. Az SAP ERP alkalmazás hatékonyan támogatja üzleti folyamatainak és műveleteinek alapvető funkcióit, és az iparág speciális igényeihez igazodik, mint például az SAP ERP Financials, az SAP ERP humántőke menedzsment, az SAP ERP műveletek, az SAP ERP vállalati szolgáltatások.</li>
                                                        <li> &nbsp;<strong>SAP Environment, Health, and Safety Management</strong>&nbsp;: Támogatja a környezetvédelmi, munkahelyi és termékbiztonsági folyamatokat, a jogszabályok betartását és a vállalati felelősséget. Ezt úgy lehet elérni, hogy a vállalati politikákat, a megfelelést, valamint a környezetvédelmi, egészségügyi és biztonsági képességeket beágyazza a globális üzleti folyamatokba az emberi erőforrások, a logisztika, a termelés és a pénzügyek területén.</li>
                                                        <li> &nbsp;<strong>SAP Global Batch Traceability&nbsp;: &nbsp;</strong> Ez lehetővé teszi a nyomon követett objektumok, például egy köteg, teljes nyomon követését mind az SAP, mind a nem SAP rendszerek között. Visszahívás vagy visszavonás esetén az SAP GBT biztosítja a törvényes beszámolási határidők időben történő betartását. Ezenkívül segít minimalizálni a költségeket és a vállalati kockázatot. Egyszerre több objektumot, például tételeket is elemezhet.</li>
                                                        <p>
                                                            <li> &nbsp;<strong>SAP Product Life Cycle Management: &nbsp;</strong> A folyamatosan változó globális környezetben való túlélés érdekében az innovatív és piacot megkülönböztető termékek és szolgáltatások létrehozása és szállítása az, ami megkülönbözteti vállalatát. Az SAP termék életciklus-menedzsment (SAP PLM) alkalmazás 360 fokos támogatást nyújt az összes termékkel kapcsolatos folyamathoz - az első termékötlettől a gyártástól a termékszolgáltatásig</li>
                                                            <li> &nbsp;<strong>SAP Supplier Life Cycle Management: </strong>&nbsp; Az SAP beszállítói életciklus-menedzsment egy átfogó megközelítés a beszállítói kapcsolatok kezelésére. A szállítási alap egészével foglalkozik, hogy folyamatosan meghatározza a beszállítók megfelelő összetételét. </li>
                                                            <li> &nbsp;<strong>Supply Chain Management</strong>&nbsp;: A költségek csökkentése folyamatosan napirenden van, miközben növelni kell az innovációt, javítani kell az ügyfélszolgálatot és az alkalmazkodóképességet. Az SAP ellátási lánc menedzsment (SAP SCM) lehetővé teszi a teljes ellátási hálózat együttműködését, tervezését, végrehajtását és koordinálását, lehetővé téve az ellátási lánc folyamatainak az állandóan változó versenykörnyezethez történő hozzáigazítását.</li>
                                                            <li> &nbsp;<strong>Supplier Relationship Management</strong>: Az SAP SRM segítségével megvizsgálhatja és előrejelzheti a beszerzési magatartást, lerövidítheti a beszerzési ciklusokat, és valós időben együttműködhet partnereivel. Ez lehetővé teszi hosszú távú kapcsolatok kialakítását azokkal a beszállítókkal, amelyek megbízható partnernek bizonyultak.</li>
                                                            <li> &nbsp;<strong>Governance, Risk and Compliance: &nbsp;</strong> A kockázat elkerülhetetlen, de kezelhető. A kormányzás, a kockázat és a megfelelés (GRC) segítségével a vállalkozások stratégiailag kiegyensúlyozhatják a kockázatokat és a lehetőségeket.</li>
                                                            <li> &nbsp;<strong>Sales and operations planning: &nbsp;</strong> Az SAP értékesítési és üzemeltetési tervezése lehetővé teszi a hosszú távú jövőbeli kereslet optimális és jövedelmező kielégítését. Ez a folyamat rendszerint minden hónapban megismétlődik, és sok résztvevőt von magába, beleértve az értékesítést, a marketinget, a pénzügyi területet, a kereslettervezést és az ellátásilánc tervezést.</li>
                                                            <li> &nbsp;<strong>SAP Transportation Management</strong>&nbsp;: Támogatja a fizikai áruszállítást.</li>
                                                            <li> &nbsp;<strong>Extended Warehouse Management: &nbsp;</strong> Az SAP kiterjesztett raktárkezelés lehetőséget ad arra, hogy a teljes raktárkomplexumot részletesen feltérképezze. Ez nemcsak áttekintést nyújt a raktárban lévő termék teljes mennyiségéről, hanem bármikor pontosan megnézheti, hol van egy adott termék a raktárkomplexumban. Az EWM segítségével optimalizálhatja a különféle készletmozgásokat.</li>
                                                            <li> <strong>Mobile Apps</strong>: A mobil eszközök az SAP rendszerhez is hozzáférhetnek.</li>
                                                    </ul>
                                                    <p align=center>
                                                        <iframe allowfullscreen="" frameborder=0 height=315 src=//www.youtube.com/embed/a0TTh8xVxAU width=420></iframe>
                                                        <p>
                                                            <div class=moduletable>
                                                                <p align=center>Klikk <a href="https://www.youtube.com/watch?v=a0TTh8xVxAU&feature=emb_title">ide</a>, ha a videó nem elérhető
                                                                    <br/>
                                                                    <br/> </p>
                                                            </div>
                                                            <br />
                                                            <p> &nbsp;
                                                                <p id=slidetag>&nbsp;</p>
                                        </div>
                                        <ul class="pager pagenav">
                                            <li class=previous>
                                                <a class="hasTooltip" title="Bevezetés az SAP-ba" aria-label="Bevezetés az SAP-ba" href="/bevezetes" rel="prev" data-original-title="What is SAP? Definition of SAP ERP Software"> <span aria-hidden="true"></span> <span aria-hidden="true">Előző</span> </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

</body>

</html>