<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>SAP Logon</title>

    <link rel=stylesheet href="/css/main.css" />
</head>

<body class="gantry site com_content view-article no-layout no-task dir-ltr itemid-789 outline-9 g-offcanvas-left g-default g-style-preset4">
    <div id=g-page-surround>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">

                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>
                                        <div>

                                            <div class=page-header>
                                                <h1> SAP Logon: GUI &amp; Navigation Tutorial </h1>
                                            </div>

                                            <div>

                                                <h2>Mi az SAP Logon?</h2>
                                                <p>SAP Logon használatával felhasználói munkamenetet kezdeményezhet a kívánt SAP kiszolgálón. Ugyanaz az SAP Logon pad felhasználható különböző SAP ERP környezetekbe való bejelentkezésre. Az SAP Logon egy ügyféloldali szoftver, amelyet általában a tanácsadók, a fejlesztők és a végfelhasználók használnak.
                                                    <p> A következő videó végigvezeti az SAP - Grafikus felhasználói felület (GUI) különféle képernyőelemein.
                                                        <p align=center>
                                                            <iframe width=420 height=315 src=https://www.youtube.com/embed/iM0o8i_FqcE frameborder=0 allowfullscreen></iframe>
                                                            <p>
                                                                <div class=moduletable>
                                                                    <p align=center>Kattintson <a href=https://www.youtube.com/embed/iM0o8i_FqcE>ide,</a> ha a videó nem érhető el
                                                                        <br/>
                                                                        <br/> </p>
                                                                </div>
                                                                <br />
                                                                <ul>
                                                                    <li>
                                                                        <p>Az SAP eléréséhez kattintson duplán az SAP bejelentkezés PAD-jére.</li>
                                                                    <p style="text-align: center;">
                                                                        <a href=/images/saplogon/sap_logon.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_logon.PNG /></a>

                                                                        <li>
                                                                            <p>Megjelenik a kiszolgálók listája, amelyekbe be tud jelentkezni.</li>
                                                                        <p style="text-align: center;">
                                                                            <a href=/images/saplogon/sap_logon_730.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_logon_730.PNG /></a>

                                                                            <li>
                                                                                <p>Válassza ki a szervert, majd kattintson a Bejelentkezés gombra. A következő képernyőn írja be felhasználói azonosítóját és jelszavát.</li>
                                                                            <p style="text-align: center;">
                                                                                <a href=/images/saplogon/sap_newpass.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_newpass.PNG /></a>

                                                                                <li>
                                                                                    <p>A tetején látható a menüsor. Ezután megjelenik a szabványos eszköztár, ahol a nyomtatás, a keresés, mentés, stb. található.</li>
                                                                                <p style="text-align: center;">
                                                                                    <a href=/images/saplogon/sap_menu.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_menu.PNG /></a>

                                                                                    <li>
                                                                                        <p>Bármely adat megtekintéséhez vagy a különböző üzleti folyamatok eléréséhez meg kell ismernie a megfelelő tranzakciót az SAP-ban. Minden tranzakció egyedi kóddal rendelkezik.</li>
                                                                                    <p style="text-align: center;">
                                                                                        <a href=/images/saplogon/in_sap.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/in_sap.PNG /></a>

                                                                                        <li>
                                                                                            <p>Például a PA-adatokhoz (Personal data) szükséges tranzakciószám a PA30.</li>
                                                                                        <li> A tranzakció eléréséhez írja be a parancssorba a PA30 parancsot, és nyomja meg az enter billentyűt.</li>

                                                                                        <p style="text-align: center;">
                                                                                            <a href=/images/saplogon/sap_p30.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_p30.PNG /></a>

                                                                                            <li> A kezdőképernyőhöz való visszatéréshez kattintson a Vissza gombra.</li>
                                                                                            <li> Egy fában helyet kap az összes elérhető tranzakció. Alternatív megoldásként, ha nem emlékszik a tranzakciós kódra, keresse meg a fában. Kattintson duplán a megfelelő tranzakcióra.</li>
                                                                                            <li> Tegyük fel, hogy nem akar mindig a fában keresgélni, hogy hozzáférjen egy tranzakcióhoz, akkor kattintson rá jobb egérgombbal, és válassza a Hozzáadás a kedvencekhez parancsot.</li>
                                                                                            <p style="text-align: center;">
                                                                                                <a href=/images/saplogon/sap_favorites.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_favorites.PNG /></a>

                                                                                                <li> A tranzakció hozzáadódik a kedvenceihez. A képernyő alján egy üzenetsor jelenik meg. &nbsp;Ennek a sávnak három színe van:</li>
                                                                                                <li> <strong>Piros - Hiba</strong></li>
                                                                                                <li> <strong>Sárga - Figyelmeztetés</strong></li>
                                                                                                <li> <strong>Zöld - Siker</strong></li>
                                                                                                <p style="text-align: center;">
                                                                                                    <a href=/images/saplogon/status_bar.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/status_bar.PNG /></a>

                                                                                                    <li> Ha duplán kattint a sávra, az üzenet részletes adatai tekinthetők meg.</li>
                                                                                                    <li> Alul láthatja a rendszerrel kapcsolatos különféle információkat, például a programot, amelyben jelenleg van.</li>
                                                                                                    <li> Ha segítségre van szüksége az SAP-ban, válassza ki a megfelelő képernyőelemet, és nyomja meg az F1 billentyűt.</li>

                                                                </ul>
                                                                <h2>SAP GUI Navigation</h2>
                                                                <p>Amikor bejelentkezik az SAP-ba, vagy új munkamenetet nyit meg - a következő képernyő jelenik meg:
                                                                    <p style="text-align: center;">
                                                                        <a href=/images/saplogon/sap_gui_navigation.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_gui_navigation.PNG /></a>

                                                                        <br />
                                                                        <p> Vizsgálja meg a képernyő különféle elemeit.
                                                                            <br />
                                                                            <h2> SAP User Menu</h2>
                                                                            <p> Az SAP felhasználói menü a felhasználói igényekhez igazodik. Ez magában foglalja az összes felhasználó számára releváns tranzakciót, releváns mappákba csoportosítva.
                                                                                <p style="text-align: center;">
                                                                                    <a href=/images/saplogon/sap_user_menu.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_user_menu.PNG /></a>

                                                                                    <h2> SAP Easy Access Menu</h2>
                                                                                    <p> Az SAP Easy Access menü tartalmazza az SAP által kínált összes tranzakciót, mappákba csoportosítva az SAP modulok szerint (FI / CO, MM stb.). Nem a felhasználói igényekhez igazítva.
                                                                                        <p style="text-align: center;">
                                                                                            <a href=/images/saplogon/sap_easy_access_menu.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_easy_access_menu.PNG /></a>

                                                                                            <h2> SAP&nbsp; Menu Bar</h2>
                                                                                            <p> Az SAP menüsáv VÁLTOZIK egyik képernyőről a másikra. A menü útvonalát követve hozzáférhet egy funkcióhoz vagy tranzakcióhoz.
                                                                                                <p style="text-align: center;">
                                                                                                    <a href=/images/saplogon/sap_menu_bar.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_menu_bar.PNG /></a>

                                                                                                    <h2> SAP Standard Tool Bar</h2>
                                                                                                    <p> Az SAP Standard eszköztár NEM változik az egyik tranzakcióról a másikra. Az SAP Standard eszköztárat különféle funkciók végrehajtására használhatjuk.
                                                                                                        <ul>
                                                                                                            <li> A rendelkezésre álló gombok engedélyezve vannak</li>
                                                                                                            <li> A nem elérhető gombok le vannak tiltva</li>
                                                                                                            <li> A "Tranzakciós mezőben" közvetlenül elérheti a tranzakciót, az SAP menü használata nélkül, a tranzakciós kód megadásával</li>
                                                                                                        </ul>
                                                                                                        <p style="text-align: center;">
                                                                                                            <a href=/images/saplogon/sap_standard_tool_bar.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_standard_tool_bar.PNG /></a>

                                                                                                            <br />
                                                                                                            <br />
                                                                                                            <blockquote> Tipp: Egyszerre legfeljebb 6 különböző SAP-munkamenetet nyithat meg</blockquote>
                                                                                                            <h2> SAP Application Toolbar</h2>
                                                                                                            <p> Az SAP alkalmazás eszköztár változik egyik képernyőről a másikra.
                                                                                                                <p style="text-align: center;">
                                                                                                                    <a href=/images/saplogon/sap_application_tool_bar.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/sap_application_tool_bar.PNG /></a>

                                                                                                                    <h2> SAP Status Bar</h2>
                                                                                                                    <p> Az SAP állapotsor NEM változik egyik képernyőről a másikra. Azt mutatja, hogy hol vagyunk az SAP-ban:
                                                                                                                        <ul>
                                                                                                                            <li> Milyen környezetet használjuk (termelés, fejlesztés ....).</li>
                                                                                                                            <li> Melyik sessionben vagyunk (mivel akár 6 munkamenetet nyithat meg).</li>
                                                                                                                            <li> Melyik client használjuk.</li>
                                                                                                                        </ul>
                                                                                                                        <p style="text-align: center;">
                                                                                                                            <a href=/images/saplogon/sap_status_bar.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" class="aligncenter  wp-image-858" src=/images/saplogon/sap_status_bar.PNG /></a>

                                                                                                                            <p> Kattintsunk a
                                                                                                                                <a href=/images/saplogon/click_on.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" class="alignnone size-full wp-image-860" height=33 src=/images/saplogon/click_on.PNG width=30 /></a> gombra további információért.
                                                                                                                                <p style="text-align: center;">
                                                                                                                                    <a href=/images/saplogon/transaction.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" class="aligncenter  wp-image-859" src=/images/saplogon/transaction.PNG /></a>

                                                                                                                                    <h2> SAP Function Keys</h2>
                                                                                                                                    <p> A funkciógombok csak egy újabb módszer az SAP-ban való navigációhoz. A funkcióbillentyűk elérhetősége változik egyik képernyőről a másikra, míg egy tranzakcióban jobb egérgombbal kattint az egérrel, megjelenik a rendelkezésre álló funkcióbillentyűk listája.
                                                                                                                                        <p style="text-align: center;">
                                                                                                                                            <a href=/images/saplogon/sap_function_keys.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" class="aligncenter  wp-image-865" src=/images/saplogon/sap_function_keys.PNG /></a>

                                                                                                                                            <h2> Hogyan kaphatunk segítséget? </h2>
                                                                                                                                            <p> A beépített SAP súgó funkciókkal (például szöveges mezők, gombok, címkék stb.)
                                                                                                                                                <p style="text-align: center;">
                                                                                                                                                    <a href=/images/saplogon/how_to_get_help.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/how_to_get_help.PNG /></a>
                                                                                                                                                    <p> Három különböző módon érheti el a súgót
                                                                                                                                                        <ol>
                                                                                                                                                            <li> Kattintson a "Súgó" gombra.
                                                                                                                                                                <a href=/images/saplogon/click_on2.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" class="alignnone size-full wp-image-838" height=23 src=/images/saplogon/click_on2.PNG width=25 /></a>
                                                                                                                                                            </li>
                                                                                                                                                            <li> Kattintson jobb gombbal az egérrel, és válassza a „Súgó” menüpontot.</li>
                                                                                                                                                            <li> Az F1 gomb megnyomása a billentyűzeten.</li>
                                                                                                                                                        </ol>
                                                                                                                                                        <p> Megnyílik a Performance Assistance képernyő:
                                                                                                                                                            <p style="text-align: center;">
                                                                                                                                                                <a href=/images/saplogon/personnel_number.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/personnel_number.PNG /></a>
                                                                                                                                                                <p> <strong>1.</strong> Információt nyújt arról, hogyan kell kitölteni az adott mezőt a képernyőn.
                                                                                                                                                                    <p> <strong>2</strong>. A Műszaki információ gombra kattintva olyan információkat kap, mint a program neve, a tábla neve és egyéb műszaki adatok, amelyek időnként nagyon hasznosak.
                                                                                                                                                                        <p style="text-align: center;">
                                                                                                                                                                            <a href=/images/saplogon/technical_information.PNG class=jh-image-popup-colorbox><img alt="SAP Logon: GUI & Navigation Tutorial" src=/images/saplogon/technical_information.PNG /></a>
                                                                                                                                                                            <p> <strong>3.</strong> A portál gombra kattintva hozzáférhet az interneten elérhető online SAP könyvtárhoz.

                                            </div>
                                            <ul class="pager pagenav">
                                                <li class=previous>
                                                    <a class=hasTooltip title="SAPTanúsítvány" aria-label="Previous article: SAPTanúsítvány" href=/saptanusitvany rel=prev> <span aria-hidden=true>Előző</span> </a>
                                                </li>
                                                <a href="/" style="padding:0px;background:#FFF;color:#04b8e6;font-size:15px;">
												<strong>Kezdőlap</strong>
												</a>	
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>

</html>