<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>SAP modulok</title>

    <link rel=stylesheet href="/css/main.css" />

</head>

<body>

    <div id=g-page-surround>
        <div class="g-offcanvas-hide g-offcanvas-toggle" role=navigation data-offcanvas-toggle aria-controls=g-offcanvas aria-expanded=false><i class="fa fa-fw fa-bars"></i></div>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>
                                        <div class=item-page>

                                            <div class=page-header>
                                                <h1> SAP ERP Functional &amp; Technical Moduls </h1>
                                            </div>

                                            <div>

                                                <p>Az SAP modulokat kettő kategóriába sorolhatjuk:
                                                    <ul>
                                                        <li>Funkcionális modulok</li>
                                                        <li>Műszaki Modulok</li>
                                                    </ul>
                                                    <p>Ezek a funkcionális és műszaki modulok szorosan kapcsolódnak egymáshoz. Az alábbiakban felsoroljuk a kulcsfontosságú SAP modulokat.
                                                        <ol>
                                                            <li><strong>SAP FI Modul - </strong>(Financial Accounting)</li>
                                                        </ol>
                                                        <p>Az SAP FI modul nagyon robusztus és lefedi a különféle iparágakban tapasztalt pénzügyi üzleti folyamatokat. Ez az SAP egyik széles körben alkalmazott modulja.
                                                            <ol start=2>
                                                                <li><strong>SAP CO Modul - </strong>(Controlling)</li>
                                                            </ol>
                                                            <p>Az SAP költségszámviteli (CO) modulja információkat nyújt a vezetők döntéshozóinak, hogy megértsék, hol költik el a vállalat pénzét. A CO segít nekik az üzleti költségek optimalizálásában.
                                                                <ol start=3>
                                                                    <li><strong>SAP HCM Modul - </strong>(HR stands for Human Resources)</li>
                                                                </ol>
                                                                <p>Az SAP Humán Tőke Menedzsment (HCM) más néven SAP-HR. Az SAP HCM olyan almodulokból áll, mint a Személyzeti Igazgatás (PA - Personnel Administration), a Szervezeti menedzsment (OM - Organizational Management), az idő, a bérszámfejtés, amelyek segítenek az alkalmazottak menedzsmentében.
                                                                    <ol start=4>
                                                                        <li><strong>SAP MM Modul - </strong>(Materials Management)</li>
                                                                    </ol>
                                                                    <p>Az SAP anyagkezelési modulja több összetevőből és alkomponensből áll, beleértve a törzsadatokat, a beszerzéseket és a leltárt.
                                                                        <ol start=5>
                                                                            <li><strong>SAP QM Modul - </strong>(Quality Management)</li>
                                                                        </ol>
                                                                        <p>Az SAP minőségirányítás (SAP QM) az SAP számos kulcsfontosságú üzleti folyamatának szerves része, mint például a gyártás, értékesítés, beszerzés, anyaggazdálkodás stb.

                                                                            <ol start=6>
                                                                                <li><strong>SAP PP Modul - </strong>(Production Planning)</li>
                                                                            </ol>
                                                                            <p>Az SAP PP (Production Planning) egy SAP modul, amelyet kifejezetten a termelésben és a gyártásban részt vevő különféle osztályok integrálására terveztek. Részei, például Data Center, BOM, Work Center, CRP stb.
                                                                                <ol start=7>
                                                                                    <li><strong>SAP SD Modul - </strong>(Sales and Distribution)</li>
                                                                                </ol>
                                                                                <p>SAP Sales and Distribution (SD) az SAP ERP fontos modulja, amely egy termék eladásához, szállításához és számlázásához szükséges üzleti folyamatokból áll. A modul szorosan integrálva van az SAP MM és az SAP PP-vel. Az SAP SD kulcsfontosságú almoduljai az ügyfelek és a szállítók törzsadatai, értékesítés, kézbesítés, számlázás, árképzés és hitelkezelés.
                                                                                    <ol start=8>
                                                                                        <li><strong>SAP BW Modul - </strong>(Business (Data) Warehouse)</li>
                                                                                    </ol>
                                                                                    <p>Az SAP BI (Business Intelligence) vagy az SAP BW vezető adattárolási és jelentéstételi eszköz. Ez elősegíti a nyers adatok konvertálását információkká és betekintésekké, amelyek javítják az üzleti haszonkulcsokat.
                                                                                        <ol start=9>
                                                                                            <li><strong>SAP Basis </strong></li>
                                                                                        </ol>
                                                                                        <p>Az SAP Basis egy olyan program- és eszközkészlet, amely interfészként működik az adatbázis, operációs rendszer, kommunikációs protokollok és más SAP modulok, például FI, HCM, SD stb. között.
                                                                                            <ol start=10>
                                                                                                <li><strong>SAP ABAP </strong></li>
                                                                                            </ol>
                                                                                            <p>ABAP (<strong>A</strong>dvanced&nbsp;<strong>B</strong>usiness&nbsp;<strong>A</strong>pplication&nbsp;<strong>P</strong>rogramming) az SAP alkalmazások alapértelmezett programozási nyelve. A Java kódolásához az SAP kódját is használhatja.
                                                                                                <ol start=11>
                                                                                                    <li><strong>SAP CRM - </strong>(Customer Relationship Management)</li>
                                                                                                </ol>
                                                                                                <p>Az SAP CRM a piacvezető az ügyfélkapcsolat-kezelő szoftverben. Az SAP CRM kulcsszerepet játszik az ügyfélkapcsolatok erősítésében. 

                                                                                                    <ol start=12>
                                                                                                        <li><strong>SAP HANA - </strong>(High-performance Analytic Appliance)</li>
                                                                                                    </ol>
                                                                                                    <p>Az SAP HANA egy memórián belüli számítási platform, amely valós idejű adatok elemzését teszi lehetővé. Jelenleg a BI piacvezetője. 
                                                                                                        <p>
                                                                                                            <p>
                                                                                                                <p>
                                                                                                                    <ol start=13>
                                                                                                                        <li><strong>SAP EC Modul - </strong>(Enterprise Controlling)</li>
                                                                                                                        <li><strong>SAP TR Modul - </strong>(Treasury)</li>
                                                                                                                        <li><strong>SAP IM Modul - </strong>(Investment Management)</li>
                                                                                                                        <li><strong>SAP IS - </strong>(Industries Specific Solution)</li>
                                                                                                                        <li><strong>SAP PS Modul - </strong>(Project Systems)</li>
                                                                                                                        <li><strong>SAP CAC - </strong>(Cross Application Components)</li>
                                                                                                                        <li><strong>SAP SCM - </strong>(Supply Chain Management)</li>
                                                                                                                        <li><strong>SAP PLM - </strong>(Product LifeCycle Management)</li>
                                                                                                                        <li><strong>SAP SRM - </strong>(Supplier Relationship Management)</li>
                                                                                                                        <li><strong>SAP CS - </strong>(Customer Service)</li>
                                                                                                                        <li><strong>SAP SEM - </strong>(Strategic Enterprise Management)</li>
                                                                                                                        <li><strong>SAP RE - </strong>(Real Estate)</li>
                                                                                                                        <li><strong>SAP PM Modul - </strong>(Plant Maintenance)</li>
                                                                                                                        <li><strong>SAP Security </strong></li>
                                                                                                                        <li><strong>SAP FSCM - </strong>(Financial Supply Chain Management)</li>
                                                                                                                        <li><strong>SAP NetWeaver</strong></li>
                                                                                                                        <li><strong>SAP IS - </strong>(Industry Specific Solution)</li>
                                                                                                                        <li><strong>SAP XI - </strong>(Exchange Infrastructure)</li>
                                                                                                                        <li><strong>SAP Solution Manager </strong></li>
                                                                                                                        <li><strong>SAP LE - </strong>(Logistics Execution)</li>
                                                                                                                        <li><strong>SAP APO - </strong>(Advanced Planning and Optimization)</li>
                                                                                                                        <li><strong>SAP AFS - </strong>(Apparel and Footwear Solution)</li>
                                                                                                                        <li><strong>SAP CC - </strong>(Convergent Charging)</li>
                                                                                                                        <li><strong>SAP ITS - </strong>(Internet Transaction Server)</li>
                                                                                                                        <li><strong>SAP ICM - </strong>(Incentive and Commission Management)</li>
                                                                                                                        <li><strong>SAP KW - </strong>(Knowledge Warehouse)</li>
                                                                                                                        <li><strong>SAP MDM - </strong>(Master Data Management)</li>
                                                                                                                    </ol>
                                                                                                                    
                                            </div>
                                            <ul class="pager pagenav">
                                                <li class=previous>
                                                    <a class=hasTooltip title="SAP Business Suite" aria-label="Previous article: SAP Business Suite" href=/sapbusinesssuite rel=prev> <span aria-hidden=true>Előző</span> </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </div>

</body>

</html>