<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />
    <title>SAP Tanúsítvány</title>
    <link rel=stylesheet href="/css/main.css" />
</head>

<body class="gantry site com_content view-article no-layout no-task dir-ltr itemid-1627 outline-9 g-offcanvas-left g-default g-style-preset4">
    <section id=g-navigation class=g-default-navigation>
        <div class=g-grid>
            <div class="g-block size-100">
                <div id=logo-8099-particle class="g-content g-particle">
                    <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                </div>
            </div>
        </div>
    </section>

    <div id=g-page-surround>
        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">

                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>

                                        <div class=page-header>
                                            <h1> SAP Tanúsítvány </h1>
                                        </div>

                                        <div>

                                            <p>Az SAP különféle tanúsításokat kínál a különböző modulokhoz.

                                                <p>Mára már több mint 220 különféle tanúsítás van a kínálatban

                                                    <p>Minden tanúsítványnak 2 szintje van
                                                        <ol>
                                                            <li>Associate</li>
                                                            <li>Professional – (Felhívjuk figyelmét, hogy a professzionális szintű tanúsításokhoz több éves gyakorlati tapasztalat is szükséges)</li>
                                                        </ol>
                                                        <div>
                                                            <table class="table table-striped">
                                                                <tbody valign=top>
                                                                    <tr>
                                                                        <td><strong>Types of SAP certification</strong></td>
                                                                        <td><strong>Types of questions</strong></td>
                                                                        <td><strong>Requirement</strong></td>
                                                                        <td><strong>Exam Duration</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Associate certification</td>
                                                                        <td>80 multiple choice, multiple response and matching questions and answers</td>
                                                                        <td>
                                                                            <center>_______</center>
                                                                        </td>
                                                                        <td>3 hours</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>NEW- Speciality Certification</td>
                                                                        <td>40 multiple choice, multiple response and matching question and answers</td>
                                                                        <td>Comes along in addition to associate exams</td>
                                                                        <td>90 minutes</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Professional certification</td>
                                                                        <td>of 80 multiple choice, multiple response, scenario based and matching questions and answers</td>
                                                                        <td>Requires project experience, business process knowledge and understanding of SAP solutions</td>
                                                                        <td>3 hours</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                        </div>
                                        <ul class="pager pagenav">
                                            <li class=previous>
                                                <a class=hasTooltip title="SAPTanacsado" aria-label="Previous article: SAPTanacsado" href=/saptanacsado rel=prev> <span aria-hidden=true>Előző</span> </a>
                                            </li>
                                            <li class=next>
                                                <a class=hasTooltip title="SAPLogon" aria-label="Next article: SAPLogon" href=/saplogon rel=next> <span aria-hidden=true>Következő</span> <span aria-hidden=true></span> </a>
                                            </li> 
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>

</html>