<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />
    <title>SAP Tanácsadó</title>
    <link rel=stylesheet href="/css/main.css" />
</head>

<body class="gantry site com_content view-article no-layout no-task dir-ltr itemid-1630 outline-9 g-offcanvas-left g-default g-style-preset4">
    <div id=g-page-surround>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>
                                        <div class=item-page>

                                            <div class=page-header>
                                                <h1> Hogyan válhatunk SAP tanácsadóvá? </h1>
                                            </div>

                                            <div>
                                                <h2>Mi az SAP tanácsadó?</h2>
                                                <p> A tanácsadó tanácsot, ajánlásokat, útmutatást és végrehajtási segítséget nyújt az általa kíválóan ismert modulban.
                                                    <h2> Miért az SAP? </h2>
                                                    <p> Az SAP (Systems Applications and Products) a világ vezető üzleti szoftvereinek szállítója, amely iparág-specifikus vállalati erőforrás-tervezési (ERP) megoldásokra szakosodott.
                                                        <p> Fortune 500 listán az első tíz helyezett cég közül 9 használja az SAP-t.
                                                            <h2> SAP tanácsadó típusai</h2> <strong>1) Üzleti / értékesítési tanácsadó </strong> - Projekteket próbál szerezni - anélkül, hogy sokat tudna az SAP-ról. :-)
                                                            <br />
                                                            <br /> <strong>2) SAP funkcionális tanácsadó </strong> - felelősek az SAP testreszabásáért az ügyfelek igényei szerint. Beszélnek a fejlesztőkkel az egyedi ABAP programok kódolásával kapcsolatban, az ügyfél igényeinek megfelelően.
                                                            <br />
                                                            <br /> <strong>3) Fejlesztői tanácsadó</strong> - Ők felelősek az ABAP / Java programok kódolásáért.
                                                            <br />
                                                            <br /> <strong>4) SAP Basis Consultant</strong> - Segít az SAP kiszolgálók és adatbázisok telepítésében, karbantartásában és teljesítményének hangolásában.
                                                            <p>
                                                                <p> A projekt jellegétől és méretétől függően lehetnek más tanácsadói szerepek is, mint például az SAP biztonsági tanácsadó stb.
                                                                    <h2> Az SAP funkcionális tanácsadóvá válásához szükséges készségek</h2>
                                                                    <ul>
                                                                        <li> Széles körű SAP (modulspecifikus) ismeretek.</li>

                                                                        <li> Jó kommunikációs és prezentációs készség. SAP tanácsadóknak gyakran szükség van az ügyféllel való kapcsolatfelvételre és az ügyfél igényeinek megértésére. Az SAP tanácsadónak jónak kell lennie a műszaki információk magyarázatában a nem műszaki emberek számára.</li>
                                                                        <li>Képesség csapatban történő munkavégzésre.</li>
                                                                    </ul>
                                                                    <h2> Tudományos háttérrel </h2>
                                                                    <ul>
                                                                        <li>
                                                                            <p> SAP tanácsadóvá váláshoz szükséges az egyetemi képesítés. (Bcom, B.E., BSc, MTech, MBA stb.) </li>
                                                                    </ul>
                                                                    <h2> SAP tanácsadói fizetés</h2>
                                                                    <p> Az USA-ban egy kezdő SAP tanácsadó fizetése 48 000–60 000 USD.

                                                                        <h2> Hogyan válhat SAP tanácsadóvá? </h2>
                                                                        <p> Nyilvánvaló, hogy nincs egy konkrét válasz. Az SAP piacra lépésének számos módja van. Íme néhány, amit felidézhetünk ... Szerezzen be SAP képzési tanúsítványt. Válasszon egy SAP modult, és szerezzen tanúsítást egy hivatalos SAP képzési partnertől. Az SAP képzése drága, de megéri a beruházást.
                                                                            <br />
                                                                            <br /> <strong>Csatlakozzon egy tanácsadó céghez.</strong> Ha jó üzleti ismerete van (és meg akarja tanulni az SAP-t?)
                                                                            <br />
                                                                            <br /> <strong>Kezdje el gyakornokként.</strong>
                                                                            <br />
                                                                            <br /> <strong>Csatlakozzon SAP Projekthez, nem SAP szakértőként.</strong> Sok SAP projekthez SAP-n kívüli készségekre van szükség. Például sok projekt megköveteli az adatkonverziót. Ha jó az adatbázis és az SQL ismerete, akkor fontolóra veheti a csatlakozást a projekthez, és később megtanulhatja az SAP specifikus részeket.
                                                                            <p>
                                                                                <p> Sok szerencsét :)
                                            </div>
                                            <ul class="pager pagenav">
                                                <li class=previous>
                                                    <a class=hasTooltip title="BestSAPModul" aria-label="Previous article: BestSAPModul" href=/bestsapmodul rel=prev> <span aria-hidden=true>Előző</span> </a>
                                                </li>
                                                <a href="/" style="padding:0px;background:#FFF;color:#04b8e6;font-size:15px;">
												<strong>Kezdőlap</strong>
												</a>	
                                            	<li class=next>
                                                	<a class=hasTooltip title="SAPTanusitvany" aria-label="Next article: SAPTanusitvany" href=/saptanusitvany rel=next> <span aria-hidden=true>Következő</span> <span aria-hidden=true></span> </a>
                                            	</li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>