<!DOCTYPE html>
<html lang=en-GB dir=ltr>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta charset=utf-8 />
    <meta name=keywords content="sap, course, beginner, free, the" />
    <meta name=description content="SAP basic tutorial for beginners. ... SAP has the largest market share of all ERP systems &amp; commands an unparalleled premium in the ERP &amp; IT market." />
    <meta name=theme-color content=#2cbaff />

    <title>SAP technikai nevek</title>

    <link rel=stylesheet href="/css/main.css" />
</head>

<body class="gantry site com_content view-article no-layout no-task dir-ltr itemid-1628 outline-9 g-offcanvas-left g-default g-style-preset4">
    <div id=g-page-surround>

        <section id=g-navigation class=g-default-navigation>
            <div class=g-grid>
                <div class="g-block size-100">
                    <div id=logo-8099-particle class="g-content g-particle">
                        <a href="/" title=Instruktor aria-label=Instruktor rel=home class=g-logo><font color=#235AD7 size ="16"><b>I</b></font><font color=#235AD7 size ="6">nstruktor</font></a>
                    </div>
                </div>
            </div>
        </section>

        <section id=g-container-main class=g-wrapper>
            <div class=g-grid>
                <div class="g-block size-100">

                    <div class=g-grid>
                        <div class="g-block size-100">
                            <div class=g-content>
                                <div class="platform-content row-fluid">
                                    <div class=span12>
                                        <div class=item-page>

                                            <div class=page-header>
                                                <h1 itemprop=headline> Műszaki nevek megjelenítése SAP-ban </h1></div>

                                            <div>

                                                <p> Lehetőségünk van tranzakciós kódok megtekintésére a tranzakciónevek mellett az SAP Easy Access menüben és a Felhasználó menüben is.
                                                    <p> Az SAP menüsorban
                                                        <ol>
                                                            <li> Kattintson az Extrák elemre </li>
                                                            <li> Kattintson a Beállítások elemre</li>
                                                        </ol>
                                                        <p style="text-align: center;">
                                                            <a href=/images/muszakinevek/settings.PNG class=jh-image-popup-colorbox><img title="How to Display Technical Names in SAP" alt="How to Display Technical Names in SAP" src=/images/muszakinevek/settings.PNG /></a>
                                                            <p> A következő beállítások képernyőn
                                                                <ol>
                                                                    <li> Pipáljuk be a technikai nevek megjelenítését </li>
                                                                    <li> Kattintson a lenti pipára </li>
                                                                </ol>
                                                                <p style="text-align: center;">
                                                                    <a href=/images/muszakinevek/display.PNG class=jh-image-popup-colorbox><img title="How to Display Technical Names in SAP" alt="How to Display Technical Names in SAP" src=/images/muszakinevek/display.PNG /></a>
                                                                    <p> A következő változást fogjuk látni a felhasználói menüben:
                                                                        <table align=center>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td> <strong>Előtte</strong></td>
                                                                                    <td> <strong>Utána</strong><strong> </strong></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <a href=/images/muszakinevek/before.PNG class=jh-image-popup-colorbox><img title="How to Display Technical Names in SAP" alt="How to Display Technical Names in SAP" src=/images/muszakinevek/before.PNG /></a>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href=/images/muszakinevek/after.PNG class=jh-image-popup-colorbox><img title="How to Display Technical Names in SAP" alt="How to Display Technical Names in SAP" src=/images/muszakinevek/after.PNG /></a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <p> &nbsp;

                                            </div>
                                            <p id=slidetag>&nbsp;</p>
                                        </div>
                                        <ul class="pager pagenav">
                                            <li class=previous>
                                                <a class=hasTooltip title="SAPNetWeaver" aria-label="Previous article: SAPNetWeaver" href=/netweaver rel=prev> <span aria-hidden=true>Előző</span> </a>
                                            </li>
                                            <a href="/" style="padding:0px;background:#FFF;color:#04b8e6;font-size:15px;">
                                                <strong>Kezdőlap</strong>
                                            </a>
                                            <li class=next>
                                                <a class=hasTooltip title="SAPMolga" aria-label="Next article: SAPMolga" href=/sapmolga rel=next> <span aria-hidden=true>Következő</span> <span aria-hidden=true></span> </a>
                                            </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <footer id="g-footer">
        <div class="g-container">
            <div class="g-grid">
                <div class="g-block size-100 align-left">
                    <div id="branding-9192-particle" class="g-content g-particle">
                        <div class="g-branding ">
                            <div class="brackbranding">
                                <h4><a href="/quiz" style="color:#f8f8f8;">Teszt kitöltése!</a></h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>